extends ../layouts/main-layout.pug 

block style
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        if errorMessage     
            div.user-message.user-message--error 
                each err in errorMessage
                    div #{err.param} : #{err.msg}
        form.product-form(action="/admin/add-product" ,method="POST",enctype="multipart/form-data")
            input(type="hidden" name="_csrf" value=csrfToken )                 
            .form-control
                label(for="title") Title
                input(type="text", name="title" class={invalid:validationError.title} value=oldInput.title)#title
            .form-control
                label(for="imageUrl") Image 
                input(type="file", name="imageUrl")#imageUrl
            .form-control
                label(for="price") price
                input(type="text", name="price",step="0.01" class={invalid:validationError.price} value=oldInput.price)#price
            .form-control
                label(for="description") description
                textarea(name="description" class={invalid:validationError.description} )#description #{oldInput.description}
            button(type="submit") Add Product