extends ../layouts/main-layout.pug 

block style
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        h1 My Products
        if data.length > 0 
            .grid
                each product in data
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        .card__image
                            img(src=product.imageUrl, alt=product.title)
                        .card__content
                            h2.product__price #{product.price}
                            p.product__descriptionA #{product.description}
                        .card__actions
                            a(href="/products/" + product._id).btn Details
                            if has_login
                                form(action='/cart' method='POST')
                                    button(type="submit").btn Add to Cart
                                    input(type="hidden" name='productId' value=product._id)
        else
            p Empty Product...